<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43752671244-0a98n7jtsjaplu4ftf920su3aprfsvb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43752671244-0a98n7jtsjaplu4ftf920su3aprfsvb6</string>
	<key>API_KEY</key>
	<string>AIzaSyDyG-MS8uFLxjzoD20-bvxien9rmhu92Qo</string>
	<key>GCM_SENDER_ID</key>
	<string>43752671244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alperenkavuk.chatt</string>
	<key>PROJECT_ID</key>
	<string>chatt-4b4f1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatt-4b4f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43752671244:ios:54863d5207209d513c4629</string>
</dict>
</plist>